* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.MainContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #f55718, $alpha: 0.5);
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: 100vh;
        background-image: url('../../assets/images/instrumentsbg.jpg');
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.8;
    
    } 
}

.MyBookContainer {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}

.MyBookContainer::-webkit-scrollbar {
    width: 5px;
}

  
.MyBookContainer::-webkit-scrollbar-track {    
    background: transparent; 

}

.MyBookContainer::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba($color: #f8d0af, $alpha: 0.9); 
}

.MyBookContainer::-webkit-scrollbar-thumb:hover {
    background:rgba($color: #f8c49a, $alpha: 0.9);
  }

.TixContainer {
    width: auto;
    display: flex;
    margin-bottom: 10px;
}

.LeftTix {
    position: relative;
    align-items: center;  
    border-radius: 10px;      
    width: 260px;
    padding: 10px;
    border-right: 1px dotted #3b3b3b;
}

.RightTix {
    position: relative;    
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    width: 340px;    
}

.OldTix {
    background-color: rgba($color: #a1a09f, $alpha: 0.9);
}

.NewTix {
    background-color: rgba($color: #f8d0af, $alpha: 0.9);
}

.BandImg {
    position: absolute;
    height: 50px;
    width: 100px;
    top: 30px;
    left: 180px;
    opacity: 0.4;
}

.TixImg {
    position: absolute;
    height: 50px;
    width: 120px;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.TimeSpan {
    font-size: 14px;
    color: #333131;
}

.ScheduleList {
    position: relative;
    list-style: none;   
}

.NoRecordCont {
    padding: 40px;
    background-color: rgba($color: #f8d0af, $alpha: 0.9);
    text-align: center;
    border-radius: 10px;
}

.LogoContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 200px;
    transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
    .MyBookContainer {
        top: 300px;
        width: 300px;
        height: 400px;            
    }

    .LeftTix {
        width: 200px;
        height: 120px;
    }

    .RightTix {
        width: 340px; 
        height: 120px; 
        padding-left: 10px;  
    }

    .ScheduleList > li{
        font-size: 13px;
    }

    .TimeSpan {
        font-size: 12px;
        
    }

    .RemoveTix {
        top: 0;
        right: 5px;
        padding: 0;      
    }

    .BandImg {
        height: 30px;
        width: 55px;
        top: 78px;
        left: 110px;
        opacity: 0.4;
    }

    .TixImg {
        height: 30px;
        width: 72px;
        top: 70px;
        left: 50%;
    }

    .LogoContainer {
        width: auto;
    }
}
